:root {
  --primary-color: #1E2022;
  --secondary-color: #52616B;
  --font-color: #F0F5F9;
  --secondary-font-color: #3b3b3b;
  --extra-color: #C9D6DF;
  --main-font: "Roboto", Arial, Helvetica, sans-serif;
  --Welcome-section-font: "IBM Plex Mono", "Roboto", Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

.header {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 30px 0 0;
  height: 60px;
}

.nav-links {
  height: 100%;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav-list {
  font-size: 18px;
  padding: 19px 0px;
  margin: 0 6px 0 0;
  
  &:hover {
    background-color: var(--extra-color);
    color: var(--secondary-font-color);
    cursor: pointer;
  }
}

.nav-link {
  color: var(--font-color);
  text-decoration: none;
  font-size: 18px;
  padding: 19px 20px;
  transition: all 0.06s ease;

  &:hover {
    background-color: var(--extra-color);
    color: var(--secondary-font-color);
  }

  &:active {
    background-color: var(--secondary-font-color);
    color: var(--extra-color);
  }
}

.main {
  margin: 60px 0 0 0;
}

.welcome-section {
  height: calc(100vh - 60px);
  background-color: var(--primary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12%;
}

.welcome-txt {
  all: unset;
  font-family: var(--Welcome-section-font);
  font-size: 60px;
  font-weight: 500;
}

.sub-welcome-txt {
  all: unset;
  color: #cacaca;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 0 15px;
}

.welcome-section-links {
  margin: 40px 0 0 0;
}

.welcome-section-link {
  font-size: 16px;
  padding: 8px 12px;
  margin: 0 30px 0 0;
  background-color: var(--extra-color);
  color: var(--secondary-font-color);
  font-weight: 700;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-family: var(--Welcome-section-font);
  box-shadow: 0 0 4px var(--extra-color);
  transition: all 0.15s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--secondary-color);
    box-shadow: 0 0 10px var(--font-color);
  }

  &:active {
    background-color: var(--secondary-font-color);
    color: var(--extra-color);
    box-shadow: 0 0 8px var(--extra-color);
  }
}

