:root {
  --primary-color: #1E2022;
  --secondary-color: #52616B;
  --font-color: #F0F5F9;
  --secondary-font-color: #3b3b3b;
  --extra-color: #C9D6DF;
  --main-font: "Roboto", Arial, Helvetica, sans-serif;
  --Welcome-section-font: "IBM Plex Mono", "Roboto", Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

.header {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 30px 0 0;
  height: 60px;
}

.nav-links {
  height: 100%;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav-list {
  font-size: 18px;
  padding: 16px 0px;
  margin: 0 6px 0 0;
  
  &:hover {
    background-color: var(--extra-color);
    color: var(--secondary-font-color);
    cursor: pointer;
  }
}

.nav-link {
  color: var(--font-color);
  text-decoration: none;
  font-size: 18px;
  padding: 19px 20px;

  &:hover {
    background-color: var(--extra-color);
    color: var(--secondary-font-color);
  }
}

.welcome-section {
  /* background-color: red; */
  height: 98.3vh;
  margin: 32px 0 0 0;
}

