:root {
  --primary-color: #1E2022;
  --secondary-color: #52616B;
  --font-color: #F0F5F9;
  --extra-color: #C9D6DF;
  --main-font: "Roboto", Arial, Helvetica, sans-serif;
  --Welcome-section-font: "IBM Plex Mono", "Roboto", Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  padding: 0 30px 0 0;
}

.nav-links {
  height: 100%;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav-link {
  font-size: 18px;
  background-color: blue;
  padding: 16px 20px;
  margin: 0 6px 0 0;
}


