:root {
  --main-font: "Roboto", Arial, Helvetica, sans-serif;
  --Welcome-section-font: "IBM Plex Mono", "Roboto", Arial, Helvetica, sans-serif;
  /* darkish and whitish theme */
  /* --primary-color: #1E2022;
  --secondary-color: #52616B;
  --font-color: #F0F5F9;
  --secondary-font-color: #3b3b3b;
  --extra-color: #C9D6DF; */

  /* darkish whitish and bluish theme */
  --primary-color: #222831;
  --secondary-color: #393E46;
  --font-color: #EEEEEE;
  --secondary-font-color: #3b3b3b;
  --extra-color: #00ADB5;

  /* brownish theme */
  /* --primary-color: #AD8B73;
  --secondary-color: #CEAB93;
  --font-color: #FFFBE9;
  --secondary-font-color: #3b3b3b;
  --extra-color: #E3CAA5; */

  /* yellowish greenish theme */
  /* --primary-color: #4C763B;
  --secondary-color: #B0CE88;
  --font-color: #043915;
  --secondary-font-color: #3b3b3b;
  --extra-color: #FFFD8F; */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

.header {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 30px 0 0;
  height: 60px;
  border-bottom: 1px solid var(--font-color);
  z-index: 1000;
}

.nav-links {
  height: 100%;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav-list {
  font-size: 18px;
  padding: 19px 0px;
  margin: 0 6px 0 0;
  
  &:hover {
    background-color: var(--extra-color);
    color: var(--secondary-font-color);
    cursor: pointer;
  }
}

.nav-link {
  color: var(--font-color);
  text-decoration: none;
  font-size: 18px;
  padding: 19px 20px;
  transition: all 0.06s ease;

  &:hover {
    background-color: var(--extra-color);
    color: var(--secondary-font-color);
  }
}

#about-caller {
  height: 60px;
}

.main {
  height: 100%;
}

.welcome-section {
  height: calc(100vh - 60px);
  background-color: var(--primary-color);
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-bottom: 8px solid var(--secondary-color);
}

.welcome-txt {
  all: unset;
  font-family: var(--Welcome-section-font);
  font-size: 60px;
  font-weight: 500;
  width: fit-content;
  min-height: 2.5ch;
  border-right: 3px solid var(--extra-color); 
  animation: blink 0.7s step-end infinite;

}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.sub-welcome-txt {
  color: #cacaca;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0 0 15px;
}

.welcome-section-links {
  display: flex;
  flex-direction: row;
  margin: 40px 0 0 0;
}

.welcome-section-link {
  font-size: 16px;
  padding: 8px 12px;
  margin: 0 30px 0 0;
  background-color: var(--extra-color);
  color: var(--secondary-font-color);
  font-weight: 700;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-family: var(--Welcome-section-font);
  box-shadow: 0 0 4px var(--extra-color);
  transition: all 0.15s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--secondary-color);
    box-shadow: 0 0 10px var(--font-color);
  }

  &:active {
    background-color: var(--secondary-font-color);
    color: var(--extra-color);
    box-shadow: 0 0 8px var(--extra-color);
  }
}

.responsive-web-design-certificate {
  width: 800px;
}

.projects-section {
  background-color: var(--extra-color);
  border-bottom: 8px solid var(--secondary-color);
}

.projects-section-title {
  margin: 0;
  padding: 60px 0;
  text-align: center;
  color: var(--secondary-font-color);
  font-size: 44px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.project {
  background-color: var(--secondary-color);
  width: fit-content;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.25s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px var(--secondary-color);
  }
}

.project-thumbnail {
  width: 370px;
  height: 370px;
  object-fit: cover;
  margin: 0;
  border-radius: 8px 8px 0 0;
}

.left-shown-thumbnail {
  object-position: left;
}

.right-shown-thumbnail {
  object-position: right;
}

.project-title {
  text-align: center;
  margin: 12px 0;
  color: var(--font-color);
  font-size: 16px;
}

.show-all-link {
  font-size: 14px;
  background-color: var(--font-color);
  color: var(--secondary-font-color);
  font-weight: 500;
  text-decoration: none;
  margin: 56px 0;
  display: flex;
  border-radius: 4px;
  transition: all 0.15s ease;

  &:hover {
    transform: translateX(3px);
  }
}

.show-all-link p {
  padding: 0 0 0 10px;
}

.show-all-link img {
  margin: 0;
  width: 24px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px 0;
  color: var(--font-color);
  background-color: var(--primary-color);
}

.contact-section-title {
  font-size: 44px;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  flex-wrap: wrap;
  margin: 50px 0 0 0;
}

.contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: var(--font-color);
  transition: all 0.25s ease;
  margin: 20px 10px 0 40px;

  &:hover {
    transform: translateY(5px);
  }
}

.contact-logo {
  width: 30px;
  margin: 0 10px 0 0;
}

.footer {
  padding: 18px 0;
  background-color: var(--secondary-color);
  color: var(--font-color);
  border-top: 1px solid var(--font-color);
}

.footer-txt {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (max-width: 1400px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1300px) {
  .responsive-web-design-certificate {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  .responsive-web-design-certificate {
    width: 400px;
  }
}

@media (max-width: 960px) {
  .welcome-section {
    flex-direction: column;
    justify-content: center;
  }

  .responsive-web-design-certificate {
    width: 350px;
    margin: 30px 0 0 0;
  }

  .welcome-section-left-side {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .welcome-section-links {
    margin: 10px 0 0 0;
  }

  .welcome-txt {
    font-size: 29px;
  }
}

@media (max-width: 950px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact {
    margin: 40px 10px 0 20px;
  }

  .contact-section-title {
    font-size: 36px;
  }

  .contact-container {
    margin: 10px 0 0 0;
  }

  .welcome-section {
    align-items: center;
  }

  .welcome-txt,
  .sub-welcome-txt {
    text-align: center;
    margin: 0 0 20px 0;
  }

  .welcome-section-links {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .welcome-section-link {
    margin: 10px 0 0 0;
    text-align: center;
  }

  .projects-section-title {
    font-size: 32px;
  }
}

@media (max-width: 913px) {
  .welcome-txt {
    font-size: 60px;
  }

  .responsive-web-design-certificate {
    width: 750px;
  }
}

@media (max-width: 821px) {
  .welcome-txt {
    font-size: 54px;
  }

  .responsive-web-design-certificate {
    width: 700px;
  }
}


@media (max-width: 700px) {
  .project-thumbnail {
    width: 300px;
    height: 300px;
  }

  .welcome-txt {
    font-size: 32px;
  }

  .sub-welcome-txt {
    font-size: 18px;
  }
}

@media (max-width: 541px) {
  .responsive-web-design-certificate {
    width: 450px;
  }
}

@media (max-width: 430px) {
  .responsive-web-design-certificate {
    width: 350px;
  }
  
  .welcome-txt {
    font-size: 29px;
  }
}

@media (max-width: 380px) {
  .welcome-txt {
    font-size: 26px;
  }

  .sub-welcome-txt {
    font-size: 18px;
  }
}









@media (max-width: 376px) {
  .welcome-txt {
    font-size: 28px;
  }

  .responsive-web-design-certificate {
    width: 300px;
  }
}

@media (max-width: 361px) {
  .welcome-txt {
    font-size: 26px;
  }
}

@media (max-width: 345px) {
  .welcome-txt {
    font-size: 24px;
  }

  .responsive-web-design-certificate {
    width: 330px;
  }
}

